{% if items|length > 0 %}
  <flynt-component load:on="visible" name="ListingPartnersCpt" class="bg-cover bg-no-repeat" style="background-image: url('{{ backgroundImage }}'); background-color:{% if colorBackground %}{{ colorBackground }}{% else %}var(--grey){% endif %};">
    <div class="w-full max-w-screen-xl mx-auto px-sm py-md md:px-lg md:py-xl">
      {% if preContentTitle %}
      <div class="w-full flex flex-col md:flex-row justify-between items-start md:items-center">
        <h2>{{ preContentTitle }}</h2>
        <a href="{{ labels.allPostsLink.url }}" class="viewAll button button--small  button--green py-[5px] px-sm mt-sm md:mt-0 rounded-full caption font-bold text-bodySmall">{{ labels.allPosts }}</a>
      </div>
      {% endif %}
      <ul class="list-none p-0 w-full mx-auto mt-lg md:mt-xl grid grid-cols-1 sm:grid-cols-3 gap-sm sm:gap-md">
        {% for item in items %}
          <li class="grid-item {{ item.post_type }}">
            <div class="content h-full">
              <a href="{{ item.link }}" class="content-link h-full" title="{{ item.title }}">
                <figure class="p-md md:p-lg h-full overflow-hidden bg-[#fff] flex justify-center items-center">
                  <img class="content-image lazyload object-contain h-[100px]"
                    src="{{ item.thumbnail.src }}"
                    data-srcset="{{function('wp_get_attachment_image_srcset', item.thumbnail.id)}}"
                    data-sizes="auto">
                </figure>
                {# <div class="content-inner mt-[10px]  flex flex-col gap-sm">
                  <div class="text-body font-bold">{{ item.title }}</div>
                  <div class="text-body text-darkgrey">
                    {{ item.date }}</span>
                  </div>
                  <div class="text-body py-sm">{{ item.intro|truncate(10) }}</div>
                  <div class="h3 arrow">→</div>
                </div> #}
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
