<flynt-component load:on="visible" name="ListingPartners" class="bg-cover bg-no-repeat" style="background-image: url('{{ backgroundImage }}'); background-color:{% if colorBackground %}{{ colorBackground }}{% else %}var(--grey){% endif %};">
  <div class="w-full max-w-screen-xl mx-auto px-sm py-md md:px-lg md:py-xl">
    {% if preContentTitle %}
      <h2 class="text-black">{{ preContentTitle }}</h2>
    {% endif %}
    <div class="list-none p-0 w-full mx-auto mt-lg md:mt-xl grid grid-cols-1 sm:grid-cols-3 gap-sm sm:gap-md">
      {% for box in boxes %}
        <a href="{{ box.blockLink }}" class="flex items-center align-middle justify-center">
          <figure class="p-md md:p-lg h-full overflow-hidden bg-[#fff] flex justify-center items-center">
            <img class="content-image lazyload object-contain h-[100px]"
              src="{{ box.image.src }}"
              data-srcset="{{function('wp_get_attachment_image_srcset', box.image.id)}}"
              data-sizes="auto">
          </figure>
        </a>
      {% endfor %}
    </div>
  </div>
</flynt-component>
